body {
  font-family: "Ubuntu";
  margin: 0;
  padding: 10%;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.text-right {
  text-align: center;
}

.btn {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 65px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn.btn-success {
  background-color: #009640;
  color: #ffffff;
}

.form-control {
  padding: 4px 43px 6px 15px;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 16px;
  width: 100%;
}

section.container {
  max-width: 997px;
  width: 100%;
  box-shadow: 0px 0px 4px #B7B7B7;
}

section.container div.header {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0;
  box-shadow: 0px 0px 4px #B7B7B7;
}

section.container div.header .header-title {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
}

section.container div.modal .modal-body {
  margin: 0;
}

section.container div.modal .modal-body aside.steeper {
  border-right: 1px solid #B7B7B7;
  max-width: 1008px;
  width: 100%;
}

section.container div.modal .modal-body aside.steeper .steeper-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 14px;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item {
  margin: 0;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 6px;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item .steeper-icon {
  width: 36px;
  height: 34px;
  background-color: #656565;
  border-radius: 15px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item .steeper-icon.active {
  background-color: #009640;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item p {
  font-weight: 300;
  font-size: 11px;
  line-height: 21.68px;
  margin-right: 13px;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item::after {
  content: "";
  display: none;
  height: 87px;
  width: 5px;
  background-color: #656565;
  position: absolute;
  top: -39%;
  left: 107.8%;
  transform: rotate(90deg);
  z-index: -1;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item:last-child::after {
  content: none;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item.active p {
  font-weight: 400;
}

section.container div.modal .modal-body aside.steeper .steeper-menu .steeper-menu-item.active::after {
  background-color: #009640;
}

section.container div.modal .modal-body .steeper-items {
  padding: 11px 17px 187px 17px;
  width: 100%;
}

section.container div.modal .modal-body .steeper-items form div {
  width: 100%;
  display: none;
}

section.container div.modal .modal-body .steeper-items form div p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20.68px;
  color: #666666;
  margin-bottom: 12px;
}

section.container div.modal .modal-body .steeper-items form div .form-control {
  max-width: 433px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

section.container div.modal .modal-body .steeper-items form div .form-control::before {
  content: "";
  background: url(/assets/icons/clarity_map-marker-outline-badged.svg);
}

section.container div.modal .modal-body .steeper-items form div.active {
  display: block;
}

section.container div.modal .modal-footer {
  padding: 12px 15px;
  box-shadow: 0px 0px 4px #B7B7B7;
}

.option {
  display: flex;
  align-items: center;
  justify-content: inherit;
  gap: 15px;
}

.option_btn-active {
  background-color: #009640 !important;
  color: white !important;
}

.option_btn {
  padding: 8px 12px;
  border-radius: 50%;
  background-color: #666666;
  color: black;
}

.option_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio_btn {
  text-align: center;
  border: 1px solid #B7B7B7;
  max-width: 120px;
  height: 107px;
}

.radio_btn img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 1160px) {
  .form-control {
    max-width: 100%;
    width: 305px;
  }
}

@media only screen and (max-width: 860px) {
  .form-control {
    max-width: 100%;
    width: 200px;
  }
}

@media only screen and (max-width: 723px) {
  .form-control {
    max-width: 100%;
    width: 150px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .form-control {
    max-width: 100%;
    width: 100px;
  }
}